{% extends "default/layout.html.twig" %}
{% block content %}
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="index.html"><img src="{{ asset('images/home/logo.png') }}" alt="" /></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            {% if(isLogin==false) %}
                                <li><a href="{{ url('loginpage') }}"><i class="fa fa-lock"></i> Login</a></li>
                            {% else %}
                                <li><a href="{{ url('profilepage') }}"><i class="fa fa-user"></i> Account</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="{{ url('logoutpage') }}"><i class="fa fa-lock"></i> Log Out</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="{{ url('homepage') }}" class="active">Home</a></li>
                            <li class="dropdown"><a href="#">Categories<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    {% for cate in cates %}
                                        <li><a href="{{ url('categoryproduct',{'id':cate.id}) }}">{{ cate.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Brand<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    {% for brand in brands %}
                                        <li><a href="{{ url('brandproduct',{'id':brand.id}) }}">{{ brand.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{{ url('contactpage') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Search"/>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            <div class="panel panel-default">
                                {% for cate in cates %}
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                                {{ cate.name }}
                                            </a>
                                        </h4>
                                    </div>
                                {% endfor %}
                            </div>
                        </div><!--/category-products-->
                        <div class="brands_products"><!--brands_products-->
                            <h2>Brands</h2>
                            <div class="brands-name">
                                {% for brand in brands %}
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="#"> <span class="pull-right"></span>{{ brand.name }}</a></li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div><!--/brands_products-->
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="container">
                        <div class="breadcrumbs">
                            <ol class="breadcrumb">
                                <li><a href="{{ url('homepage') }}">Home</a></li>
                                <li class="active"> Shopping Cart</li>
                            </ol>
                        </div>


                        <div class="table-responsive cart_info">
                            <table  class="table table-condensed">
                                <thead>
                                <tr class="cart_menu">
                                    <td class="image">Item</td>
                                    <td class="description"></td>
                                    <td class="price">Price</td>
                                    <td class="quantity">Quantity</td>
                                    <td class="total">Total</td>
                                    <td></td>
                                </tr>
                                </thead>
                                     <tbody>
                                {% if bill!=null %}
                                {% for bill_detail in bill.detailbillss %}

                                    <tr>
                                        <td class="cart_product">
                                            <a href=""><img style="width: 65px;height: 75px" src="{{ bill_detail.product.images[0].url }}" alt=""></a>
                                        </td>
                                        <td class="cart_description">
                                            <h4><a href="">{{ bill_detail.product.name }}</a></h4>
                                        </td>
                                        <td class="cart_price">
                                            <p>${{ bill_detail.product.price }}</p>
                                        </td>
                                        <td class="cart_quantity">
                                            <div class="cart_quantity_button">
                                                <p>{{ bill_detail.quantity }}</p>
                                            </div>
                                        </td>
                                        <td class="cart_total">
                                            <p class="cart_total_price">${{ bill_detail.product.price * bill_detail.quantity  }}</p>
                                        </td>
                                        <td class="cart_delete">
                                            <a class="cart_quantity_delete" href="{{ url('deletecart',{'id':bill_detail.id})}}"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% endif %}
                                    </tbody>
                            </table>
                            <div>
                            {% if bill!=null %}
                                <a class="btn btn-success" href="{{ url('checkout_order',{'id':bill.id})}}">Order Now!</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}