<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {{ title }} | E-Shopper  </title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('css/price-range.css') }}" rel="stylesheet">
    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('images/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/ico/apple-touch-icon-57-precomposed.png') }}">
</head><!--/head-->
<body>
<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-phone"></i> +84 168 940 5811</a></li>
                            <li><a href="https://mail.google.com/"><i class="fa fa-envelope"></i> hoangnnp@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

</header><!--/header-->
{% block content %}
{% endblock %}
<footer id="footer"><!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Contact us</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <p><a href="https://facebook.com">Facebook</a></p>
                            <p><a href="https://www.linkedin.com">Linkedin</a></p>
                            <p><a href="https://twitter.com">Twitter</a></p>
                            <p><a href="https://www.instagram.com">Instagram</a></p>
                            <p><a href="https://vn.answers.yahoo.com">FAQ’s</a></p>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Voelker Bakery </h2>
                        <p><label>@Located</label> 39, Thao Dien Stree, 2nd Districts, Ho Chi Minh City</p>
                        <p>Tel: 083 0866 123 687</p>
                        <p><label>@Located</label> 12, Nguyen Dinh Chieu Street, 1 Districts, Ho Chi Minh City</p>
                        <p>Tel: 083 0866 123 688</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Opening Hours:</h2>
                        <ul>
                            <p>Monday - Friday: 10am - 9pm</p>
                            <p> Saturday: 9am - 9pm </p>
                            <p>Sunday: 12pm - 6pm</p>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>About Shopper</h2>
                        <p>Welcome to Shopper. Here at Shopper we have over 15 years experience in the tailoring industry. We are one of the very few tailors in Hoi An who has it's own dedicated team of tailors on site. A team of 10 quality controllers oversees production to ensure perfection for you.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © Ngo Nguyen Phuong Hoang</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="http://hoangnnp.wordpress.com/">Hoang Ngo</a></span></p>
            </div>
        </div>
    </div>
</footer><!--/Footer-->
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
<script src="{{ asset('js/price-range.js') }}"></script>
<script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>