{% extends 'default/layout.html.twig' %}
{% block content %}
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="{{ url('homepage') }}"><img src="{{ asset('images/home/logo.png') }}" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="{{ url('homepage') }}" class="active">Home</a></li>
                            <li class="dropdown"><a>Categories<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    {% for cate in cates %}
                                        <li><a href="{{ url('categoryproduct',{'id':cate.id}) }}">{{ cate.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Brand<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    {% for brand in brands %}
                                        <li><a href="{{ url('brandproduct',{'id':brand.id}) }}">{{ brand.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{{ url('contactpage') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Login to your account</h2>
                    {{ form_start(form1) }}
                        {{ form_widget(form1.username) }}
                        {{ form_widget(form1.password) }}
                    <button type="submit" class="btn btn-default">Sign In</button>
                    {{ form_end(form1) }}
                </div>
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Signup!</h2>
                    {{ form_start(form2) }}
                    {{ form_widget(form2.username,{'attr':{'placeholder':'Username'}}) }}
                    {{ form_widget(form2.password.pass,{'attr':{'placeholder':'Password'}}) }}
                    {{ form_widget(form2.password.repass,{'attr':{'placeholder':'Re-typed password'}}) }}
                    {{ form_widget(form2.fullname,{'attr':{'placeholder':'Fullname'}}) }}
                    <button type="submit" class="btn btn-default">Sign In</button>
                    {{ form_end(form2) }}
                </div>
            </div>
        </div>
    </div>
</section><!--/form-->
{% endblock %}